<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Home Security</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block styles %}{% endblock %}

    <script src="{{ url_for('static', filename='lib/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>

    {% block scripts %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Home Security</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if g.user %}
            <li class="nav-item"><span>{{ g.user['username'] }}</span>
            <li class="nav-item"><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('auth.register') }}">Register</a>
            <li class="nav-item"><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
        </ul>
    </nav>
    <section class="container-fluid">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>